################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

appsetting.json
pairmatching.json
