################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Gui/bin/Debug/net5.0-windows/appsettings.json
